@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

/* to display markdown collectly */
/* @layer base {
    ul {
        list-style: circle;
        margin: 16px 0;
        padding-left: 40px;
    }
    p {
        margin: 16px 0;
    }
} */